<!-- 需要用户提供人员类别、firstname、lastname、证据号码，及用户名和密码。姓名和证件号码
    用于建立个人资料，人员类别、用户名和密码用于建立帐号。根据人员类别，将个人资料保存在不同
    数据表中。
-->
<div class="container">
    <div public-menu lang="{{ lang}}" active-menu="{{ currentMenu}}"></div>

    <div class="row under-menu">
        <div class="col-sm-7 left-column form-inline">
            <form role="form" name="register" novalidate 
                  ng-submit="register.$valid && submitRegistration()">
                <!-- 用户名部分 -->
                <!--不显示的 user.locale 字段，用于向服务器提供用户locale。-->
                <input type="text" ng-model="user.locale" style="display: none;"/>
                <table>
                    <tr>
                        <th style="width: 85px;">{{lang.PersonCategory}}: </th>
                        <td>
                            <div class="form-group">
                                <select class="form-control" required id="category" 
                                        ng-model="category" ng-change="person_category_changed()"
                                        ng-options="p_c as p_c.data for p_c in pCategories| orderBy:'id' track by p_c.id">
                                    <!-- <option ng-repeat="p_c in pCategories| orderBy: 'id'" 
                                            value="{{p_c.id}}">{{p_c.data}}</option>-->
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><p class="help-block">{{ lang.PersonCategoryHelp}}</p></td>
                    </tr>
                    
                    <tr>
                        <th>{{isForeigner ? lang.passportNumber: lang.IDNumber}}: </th>
                        <td>
                            <div ng-show="{{ isForeigner }}" class="form-group has-feedback has-feedback-right" show-errors>                             
                                <input type="text" class="form-control" required 
                                       name="passport_number" 
                                       ng-minlength="4"
                                       ng-maxlength="9"
                                       ng-model-options="{debounce: 500}"
                                       placeholder="{{lang.YourPassportNumber}}" 
                                       ng-model="user.passportNumber" 
                                       autocomplete="off" 
                                       type-passport-number />

                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                      ng-show='register.passport_number.$valid'></span>
                                <!--
                                <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                                -->
                            </div>
                            <div ng-show="{{ !isForeigner }}" class="form-group has-feedback has-feedback-right" show-errors>                             
                                <input type="text" class="form-control" required 
                                       name="id_number" 
                                       ng-minlength="18"
                                       ng-maxlength="18"
                                       ng-model-options="{debounce: 800}"
                                       placeholder="{{lang.YourIDNumber}}" 
                                       ng-model="user.idNumber" 
                                       autocomplete="off" 
                                       type-id-number />

                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                      ng-show='register.id_number.$valid'></span>
                                <!--
                                <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                                -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <p class="help-block">{{isForeigner ? lang.PassportNumberHelp : lang.IDNumberHelp}}</p>
                            <div ng-show="{{isForeigner}}" role="alert" style="margin-bottom: 10px;">
                                <span class="label label-danger" ng-show="register.passport_number.$error.minlength">
                                    {{ lang.passportNumberMinlengthError}}</span>
                                <span class="label label-danger" ng-show="register.passport_number.$error.maxlength">
                                    {{ lang.passportNumberMaxlengthError}}</span>
                                <span class="label label-danger" ng-show="register.passport_number.$error.required">
                                    {{ lang.Required}}</span>
                                <span class="label label-danger" ng-show="register.passport_number.$error.format">
                                    {{ lang.PassportNumberNotQualified}}
                                </span>
                            </div>
                            <div ng-show="!isForeigner" role="alert" style="margin-bottom: 10px;">
                                <span class="label label-danger" ng-show="register.id_number.$error.required">
                                    {{ lang.Required}}</span>
                                <span class="label label-danger" ng-show="register.id_number.$error.format">
                                    {{ lang.IdNumberNotQualified}}
                                </span>
                            </div>
                        </td>
                    </tr>
                    
                    <tr>
                        <th>{{ lang.Username}}: </th>
                        <td>
                            <div class="form-group has-feedback has-feedback-right" show-errors>                             
                                <input type="text" class="form-control" required 
                                       name="username" ng-minlength="5"
                                       id="username" ng-model-options="{debounce: 500}"
                                       placeholder="{{ lang.PleaseInputaUsername}}" 
                                       ng-model="user.username" autocomplete="off" 
                                       type-username />

                                <span class="glyphicon glyphicon-user form-control-feedback"
                                      ng-show="!register.username.$valid"></span>
                                <span class="glyphicon glyphicon-ok form-control-feedback"
                                      ng-show='register.username.$valid'></span>
                                <!--
                                <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                                -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <p class="help-block">{{ lang.UsernameHelp}}</p>
                            <div role="alert" style="margin-bottom: 10px;">
                                <span class="label label-danger" ng-show="register.username.$error.minlength">
                                    {{ lang.usernameMinlengthError}}</span>
                                <span class="label label-danger" ng-show="register.username.$error.required">
                                    {{ lang.Required}}</span>
                                <span class="label label-danger" ng-show="register.username.$error.format">
                                    {{ lang.UsernameContainSpecialCharactors}}
                                </span>
                                <span class="label label-danger" ng-show="register.username.$pending.isExisted">
                                    {{ lang.CheckingifThisUsernameisAvailable}}
                                </span>
                                <span class="label label-danger" ng-show="register.username.$error.isExisted">
                                    {{ lang.ThisUsernameisAlreadyTaken}}
                                </span>
                            </div>
                        </td>
                    </tr>

                    <!-- 密码部分 -->
                    <div class="row">
                        <tr>
                            <th>{{ lang.Password}}: </th>
                            <td>
                                <div class="form-group has-feedback has-feedback-right" show-errors>
                                    <input ng-init="showPassord = false"
                                           type="{{ showPassword ? 'text': 'password'}}" 
                                           class="form-control" name="password" required
                                           id="password"
                                           placeholder="" ng-minlength='8'
                                           ng-model="user.password"
                                           type-password />
                                    <span class="glyphicon glyphicon-lock form-control-feedback"
                                          ng-show="!register.password.$valid"></span>
                                    <span class="glyphicon glyphicon-ok form-control-feedback"
                                          ng-show='register.password.$valid'></span>
                                    <!--
                                    <i class="fa fa-check form-control-feedback" ng-show='register.password.$valid'></i>
                                    -->
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <p class="help-block">{{ lang.PasswordHelp}}</p>
                                <div role='alert' style="margin-bottom: 10px;">
                                    <span class="label label-danger" ng-show="register.password.$error.required">
                                        {{ lang.Required}}</span>
                                    <span class="label label-danger" ng-show="register.password.$error.minlength">
                                        {{ lang.passwordMinlengthError}}</span>
                                    <span class="label label-danger" ng-show="register.password.$error.typePassword">
                                        {{ lang.PasswordisNotQualified}}
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <div class="checkbox form-group" style="padding-left: 0px;">
                                    <input class="form-control" type="checkbox" 
                                           id="show-hide-password"
                                           ng-model="showPassword" ng-init="showPassword = False"/>
                                    <label for="show-hide-password">
                                        {{showPassword ? lang.hidePassword: lang.showPassword }}
                                        <i 
                                            class="{{ showPassword ? 'glyphicon glyphicon-eye-close': 'glyphicon glyphicon-eye-open' }}">
                                        </i>
                                    </label>
                                </div>
                            </td>
                        </tr>
                </table>


                <div class="row">
                    <div class="col-xs-9">
                        <button class="btn btn-success pull-right" 
                                type="submit">{{ lang.newuserSubmit}}</button>
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-danger pull-left" 
                                ng-click="reset(register)">{{ lang.Reset}}</button>
                    </div>
                </div>
                <div class="row">
                    <span  class="label label-success" ng-init="registeredSuccess = false" 
                           ng-show="registeredSuccess">
                        {{ responseMsg}}</span>
                    <span class="label label-warning" ng-init="serverFault = false"
                          ng-show="serverFault">
                        {{ responseMsg}}</span>
                </div>
            </form>
        </div>
        <div class="col-md-4 right-column">
            <p>{{ lang.Agreement}}</p>
        </div>
    </div>
</div>