<div class="modal-header">
    <h3 class="modal-title"><i class="glyphicon glyphicon-pencil"></i>{{lang.changeBasicProfile}}</h3>
</div>
<div class="modal-body">
    <form role='form' name='update' novalidate
          ng-submit="update.$valid && submitChanges()">
        <div class="row">
            <div class="col-md-4 col-sm-7 col-xs-7">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{lang.firstName}}</label>
                    <input type="text" class="form-control" required 
                           name="firstname"
                           ng-model-options="{debounce: 500}"
                           ng-model="profile.firstName" autocomplete="off" 
                           uib-tooltip="{{lang.firstNameHelp}}"
                           tooltip-placement="top"
                           tooltip-class="customClass"
                           tooltip-append-to-body="true"
                           tooltip-trigger="focus"
                           type-firstname />

                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show='update.firstname.$valid'></span>
                    <!--
                    <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                    -->
                </div>
                <div role="alert" style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="update.firstname.$error.required">
                        {{ lang.Required}}</span>
                    <p class="label label-danger" ng-show="update.firstname.$error.format">
                        {{ lang.BadNameFormat}}
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-7 col-xs-9">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{lang.lastName}}</label>
                    <input type="text" class="form-control" required 
                           name="lastname"
                           ng-model-options="{debounce: 500}"
                           ng-model="profile.lastName" autocomplete="off" 
                           uib-tooltip="{{lang.lastNameHelp}}"
                           tooltip-placement="top"
                           tooltip-class="customClass"
                           tooltip-append-to-body="true"
                           tooltip-trigger="focus"
                           type-lastname />

                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show='update.lastname.$valid'></span>
                    <!--
                    <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                    -->
                </div>
                <div role="alert" style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="update.lastname.$error.required">
                        {{ lang.Required}}</span>
                    <p class="label label-danger" ng-show="update.lastname.$error.format">
                        {{ lang.BadNameFormat}}
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-5 cell">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{lang.ChineseName}}</label>
                    <input type="text" class="form-control" required 
                           name="xingming"
                           ng-model-options="{debounce: 500}"
                           ng-model="profile.xingming" autocomplete="off" 
                           uib-tooltip="{{lang.xingmingHelp}}"
                           tooltip-placement="top"
                           tooltip-class="customClass"
                           tooltip-append-to-body="true"
                           tooltip-trigger="focus"
                           type-chinese-name />

                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show='update.xingming.$valid'></span>
                    <!--
                    <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                    -->
                </div>
                <div role="alert" style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="update.xingming.$error.required">
                        {{ lang.Required}}</span>
                    <p class="label label-danger" ng-show="update.xingming.$error.format">
                        {{ lang.BadNameFormat}}
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-xs-6 cell">
                <div class="form-group">
                    <label class="control-label">{{lang.Gender}}</label>
                    <select class="form-control" id="gender" 
                            ng-model="gender"
                            ng-options="g.id as g.data for g in Genders| orderBy:'id' track by g.id">
                        <option value="">-- {{lang.selectGender}} --</option>
                        <!-- <option ng-repeat="p_c in pCategories| orderBy: 'id'" 
                                value="{{p_c.id}}">{{p_c.data}}</option>-->
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-xs-8 cell">
                <div class="form-group">
                    <label class="control-label">{{lang.Birthday}}</label>
                    <md-datepicker ng-model="birthday" required
                                   md-min-date="minBirthday">                        
                    </md-datepicker>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-8 col-xs-10 cell">
                <div class="form-group">
                    <label class="control-label">{{lang.Nationality}}</label>
                    <script type="text/ng-template" id="customCountrySelect.html">
                        <a>
                        <!-- 注意，这里是用的match.model -->
                        <span class="flag-icon flag-icon-{{match.model.alpha_2.toLowerCase()}}"></span>
                        <span ng-bind-html="match.model.en_full | uibTypeaheadHighlight:query"></span>
                        </a>
                    </script>
                    <input class="form-control" type="text" ng-model="countrySelected"
                           style="background-image: url(bower_components/flag-icon-css/flags/4x3/{{countrySelected.alpha_2.toLowerCase() !== undefined ? countrySelected.alpha_2.toLowerCase() : 'un'}}.svg); 
                           background-size: 20px auto; background-repeat: no-repeat;
                           background-color: #FFF; padding-left: 30px;
                           background-position: left 5px center;"
                           typeahead-loading='loadingCountries' 
                           typeahead-no-results="noResults"
                           typeahead-template-url='customCountrySelect.html'
                           uib-typeahead="country as country.en_full for country in countries | filter:$viewValue | limitTo:8"/>
                    <i ng-show="loadingCountries" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i><span class="label label-warning">{{lang.noResultFound}}</span>
                    </div>
                </div>
            </div>

            <!--护照号码-->
            <div class="col-sm-4 col-xs-6 cell">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{lang.passportNumber}}</label>
                    <input type="text" class="form-control" required 
                           name="passport_number" 
                           ng-model-options="{debounce: 1000}"
                           ng-model="profile.passportNumber" 
                           autocomplete="off"
                           uib-tooltip="{{lang.PassportNumberHelp}}"
                           tooltip-placement="top"
                           tooltip-append-to-body="true"
                           tooltip-class="customClass"
                           tooltip-trigger="focus"
                           type-passport-number-update />

                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show='update.passport_number.$valid'></span>
                    <!--
                    <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                    -->
                </div>   
                <div role="alert" style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="update.passport_number.$error.required">
                        {{ lang.Required}}</span>
                    <span class="label label-danger" ng-show="update.passport_number.$error.format">
                        {{ lang.PassportNumberNotQualified}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <!--在中国的手机号码-->
            <div class="col-md-4 col-sm-5 col-xs-7">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{lang.ChineseMobileNumber}}</label>
                    <input type="text" class="form-control" required 
                           name="mobile_number" 
                           ng-model-options="{debounce: 1000}"
                           ng-model="profile.mobile" 
                           autocomplete="off"
                           uib-tooltip="{{lang.MobileHelp}}"
                           tooltip-placement="top"
                           tooltip-class="customClass"
                           tooltip-append-to-body="true"
                           tooltip-trigger="focus"
                           type-mobile />

                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show='update.mobile_number.$valid'></span>
                    <!--
                    <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                    -->
                </div>   
                <div role="alert" style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="update.mobile_number.$error.required">
                        {{ lang.Required}}</span>
                    <span class="label label-danger" ng-show="update.mobile_number.$error.format">
                        {{ lang.MobileNotQualified}}
                    </span>
                </div>
            </div>

            <!--国内电话（外籍学员）-->
            <div class="col-sm-6 col-xs-7">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{lang.homeNumber}}</label>
                    <!-- 在input框前加入固定文字的做法！-->
                    <div class="input-group">
                        <span class="input-group-addon">+{{zoneNumber}}</span>
                        <input type="text" class="form-control" required 
                               name="home_number"
                               ng-model-options="{debounce: 1000}"
                               ng-model="profile.home_number" 
                               autocomplete="off"
                               uib-tooltip="{{lang.HomeNumberHelp}}"
                               tooltip-placement="top"
                               tooltip-append-to-body="true"
                               tooltip-class="customClass"
                               tooltip-trigger="focus"
                               type-home-number />

                        <span class="glyphicon glyphicon-ok form-control-feedback"
                              ng-show='update.home_number.$valid'></span>
                    </div>
                    <!--
                    <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                    -->
                </div>   
                <div role="alert" style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="update.home_number.$error.required">
                        {{ lang.Required}}</span>
                    <span class="label label-danger" ng-show="update.home_number.$error.format">
                        {{ lang.HomeNumberNotQualified}}
                    </span>
                </div>
            </div>
        </div>

        <!-- 家庭地址（外籍学员）-->
        <div class="row">
            <div class="col-sm-8 col-xs-10">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{lang.homeAddress}}</label>
                    <input type="text" class="form-control" required 
                           name="home_address"
                           ng-model-options="{debounce: 1000}"
                           ng-model="profile.home_address" 
                           autocomplete="off"
                           uib-tooltip="{{lang.HomeAddressHelp}}"
                           tooltip-placement="top"
                           tooltip-class="customClass"
                           tooltip-append-to-body="true"
                           tooltip-trigger="focus"
                           type-home-address />
                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show='update.home_address.$valid'></span>

                </div>
                <div role="alert" style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="update.home_address.$error.required">
                        {{ lang.Required}}</span>
                    <span class="label label-danger" ng-show="update.home_address.$error.format">
                        {{ lang.HomeAddressNotQualified}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-xs-9">
                <button class="btn btn-default pull-right" 
                        type="submit">
                    <i class="glyphicon glyphicon-flash"></i>{{lang.updateProfileSubmit}}</button>
            </div>
            <div class="col-sm-2 col-xs-3">
                <button class="btn btn-default pull-right" type="button" ng-click="cancel()">
                    <i class="glyphicon glyphicon-remove"></i>{{lang.Cancel}}</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="pull-left">
            <span class="label label-warning" ng-init="updatedFailed = false" 
                  ng-show="updatedFailed">
                {{responseMsg}}</span>
            <span class="label label-success" ng-init="updatedSuccess = false" 
                  ng-show="updatedSuccess">
                {{responseMsg}}</span>
            <span class="label label-danger" ng-init="serverFault = false"
                  ng-show="serverFault">
                {{responseMsg}}</span>
        </div>
    </div>
</div>