<div class="modal-header">
    <h3 class="modal-title"><i class="glyphicon glyphicon-pencil"></i>{{lang.UpdatePassportVISA}}</h3>
</div>
<div class="modal-body">
    <form role='form' name='update' novalidate
          ng-submit="update.$valid && submitChanges()">
        <!--护照类型-->
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-7 cell">
                <div class="form-group">
                    <label class="control-label">{{lang.PassportType}}</label>
                    <select class="form-control"
                            ng-model="passport_type"
                            ng-options="pt as pt.data for pt in PassportTypes| orderBy:'id' track by pt.id">
                        <!-- 一定要写成这样！ -->
                        <option value="">-- {{lang.selectPassportType}} --</option>                        
                    </select>
                </div>
            </div>
        </div>
        <!--签证类型、签证号码及签证有效期-->
        <div class="row">            
            <div class="col-md-4 col-sm-5 col-xs-6 cell">
                <div class="form-group">
                    <label class="control-label">{{lang.VISAType}}</label>
                    <select class="form-control"
                            ng-change="setVisaNumber()"
                            ng-model="visa_type"
                            ng-options="vt as vt.data for vt in VISATypes| orderBy:'id' track by vt.id">
                        <option value="">-- {{lang.selectVISAType}} --</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-3 col-xs-5 cell">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{lang.VISANumber}}</label>
                    <input type="text" class="form-control" required 
                           name="visa_number"  ng-readonly="visa_type.id === '3'"
                           ng-model-options="{debounce: 1000}"
                           ng-model="data.VISANumber" 
                           autocomplete="off"
                           tooltip-placement="top"
                           tooltip-append-to-body="true"
                           tooltip-class="customClass"
                           tooltip-trigger="focus"
                           type-visa-number />

                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show='update.visa_number.$valid'></span>
                    <!--
                    <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                    -->
                </div>   
                <div role="alert" style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="update.visa_number.$error.required">
                        {{ lang.Required}}</span>
                    <span class="label label-danger" ng-show="update.visa_number.$error.format">
                        {{ lang.VISANumberNotQualified}}
                    </span>
                </div>
            </div>
            <div class="col-md-4 col-xs-8 cell">
                <div class="form-group">
                    <label class="control-label">{{lang.VISAValidDate}}</label>
                    <md-datepicker required ng-model="visa_valid_date" md-min-date="minVISAValidDate">                        
                    </md-datepicker>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-xs-6 cell">
                <div class="form-group">
                    <label class="control-label">{{lang.ArriveDate}}</label>
                    <md-datepicker required ng-model="arrive_date" md-min-date="minArriveValidDate">                        
                    </md-datepicker>
                </div>
            </div>
            <div class="col-sm-4 col-xs-5 cell">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{lang.ArriveFlightNumber}}</label>
                    <input type="text" class="form-control" required 
                           name="arrive_flight_number" 
                           ng-model-options="{debounce: 1000}"
                           ng-model="data.arrive_flight" 
                           autocomplete="off"
                           tooltip-placement="top"
                           tooltip-append-to-body="true"
                           tooltip-class="customClass"
                           tooltip-trigger="focus"
                           type-flight-number />

                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show='update.arrive_flight_number.$valid'></span>
                    <!--
                    <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                    -->
                </div>   
                <div role="alert" style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="update.arrive_flight_number.$error.required">
                        {{ lang.Required}}</span>
                    <span class="label label-danger" ng-show="update.arrive_flight_number.$error.format">
                        {{ lang.arriveFlightNumberNotQualified}}
                    </span>
                </div>
            </div>
        </div>

        <!--回国日期及航班-->
        <div class="row">
            <div class="col-sm-4 col-xs-6 cell">
                <div class="form-group">
                    <label class="control-label">{{lang.ReturnDate}}</label>
                    <md-datepicker required ng-model="return_date" md-min-date="minArriveValidDate">                        
                    </md-datepicker>
                </div>
            </div>
            <div class="col-sm-4 col-xs-5 cell">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{lang.ReturnFlightNumber}}</label>
                    <input type="text" class="form-control" required 
                           name="return_flight_number" 
                           ng-model-options="{debounce: 1000}"
                           ng-model="data.return_flight" 
                           autocomplete="off"
                           tooltip-placement="top"
                           tooltip-append-to-body="true"
                           tooltip-class="customClass"
                           tooltip-trigger="focus"
                           type-flight-number />

                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show='update.return_flight_number.$valid'></span>
                    <!--
                    <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                    -->
                </div>   
                <div role="alert" style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="update.return_flight_number.$error.required">
                        {{ lang.Required}}</span>
                    <span class="label label-danger" ng-show="update.return_flight_number.$error.format">
                        {{ lang.returnFlightNumberNotQualified}}
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 col-xs-9">
                <button class="btn btn-default pull-right" 
                        type="submit">
                    <i class="glyphicon glyphicon-flash"></i>{{lang.PassportVISASubmit}}</button>
            </div>
            <div class="col-sm-2 col-xs-3">
                <button class="btn btn-default pull-right" type="button" ng-click="cancel()">
                    <i class="glyphicon glyphicon-remove"></i>{{lang.Cancel}}</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="pull-left">
            <span class="label label-warning" ng-init="updatedFailed = false" 
                  ng-show="updatedFailed">
                {{responseMsg}}</span>
            <span class="label label-success" ng-init="updatedSuccess = false" 
                  ng-show="updatedSuccess">
                {{responseMsg}}</span>
            <span class="label label-danger" ng-init="serverFault = false"
                  ng-show="serverFault">
                {{responseMsg}}</span>
        </div>
    </div>
</div>