<div class="modal-header">
    <h3 class="modal-title">{{lang.changePassword}}</h3>
</div>
<div class="modal-body">
    <form role='form' name='update_password' novalidate>
        <div class="row">
            <div class="col-xs-9">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{ lang.oldPassword}}</label>
                    <input type="text"  class="form-control" name="old_password" required
                           id="old_password" placeholder="{{lang.PleaseInputOldPassword}}"
                           ng-model="data.oldPassword" />
                    <!--
                    <i class="fa fa-check form-control-feedback" ng-show='register.password.$valid'></i>
                    -->
                </div>
                <div role='alert' style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="update_password.old_password.$error.required">
                        {{ lang.Required}}</span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-9">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{ lang.newPassword}}</label>
                    <input ng-init="showNewPassord = false"
                           type="{{ showNewPassword ? 'text': 'password'}}" 
                           class="form-control" name="new_password" required
                           id="new_password"
                           placeholder="{{lang.PleaseSetANewPassword}}" ng-minlength='8'
                           ng-model="data.newPassword"
                           uib-tooltip="{{lang.PasswordHelp}}"
                           tooltip-placement="top-right"
                           tooltip-trigger="focus"
                           type-password />
                    <span class="glyphicon glyphicon-lock form-control-feedback"
                          ng-show="!update_password.new_password.$valid"></span>
                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show='update_password.new_password.$valid'></span>
                    <!--
                    <i class="fa fa-check form-control-feedback" ng-show='register.password.$valid'></i>
                    -->
                </div>
                <div role='alert' style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="update_password.new_password.$error.required">
                        {{ lang.Required}}</span>
                    <span class="label label-danger" ng-show="update_password.new_password.$error.minlength">
                        {{ lang.passwordMinlengthError}}</span>
                    <span class="label label-danger" ng-show="update_password.new_password.$error.typePassword">
                        {{ lang.PasswordisNotQualified}}
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11">
                <div class="checkbox form-group">
                    <input class="form-control" type="checkbox" 
                           id="show-hide-password"
                           ng-model="showNewPassword" />
                    <label for="show-hide-password">
                        {{showNewPassword ? lang.hidePassword: lang.showPassword }}
                        <i 
                            class="{{ showNewPassword ? 'glyphicon glyphicon-eye-close': 'glyphicon glyphicon-eye-open' }}">
                        </i>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <span  class="label label-warning" ng-init="oldPasswordIncorrect = false" 
                       ng-show="oldPasswordIncorrect">
                    {{responseMsg}}</span>
                <span  class="label label-success" ng-init="updatedSuccess = false" 
                       ng-show="updatedSuccess">
                    {{responseMsg}}</span>
                <span class="label label-danger" ng-init="serverFault = false"
                      ng-show="serverFault">
                    {{responseMsg}}</span>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">
        <i class="glyphicon glyphicon-flash"></i>{{lang.Ok}}</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">
        <i class="glyphicon glyphicon-remove"></i>{{lang.Close}}</button>
</div>