<div class="modal-header">
    <h3 class="modal-title">{{lang.setProfilePhoto}}</h3>
</div>
<div class="modal-body">
    <p>{{lang.setThisImageasProfilePhoto}}</p>
    <img style="height: 320px;" ng-src="{{originSrc}}" alt="" />
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="ok()">
        <i class="glyphicon glyphicon-flash"></i>{{lang.Ok}}</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">
        <i class="glyphicon glyphicon-remove"></i>{{lang.Close}}</button>
</div>