<div class="modal-header">
    <h3 class="modal-title"><i class="glyphicon glyphicon-pencil"></i>{{lang.appendFamilyinCampus}}</h3>
</div>
<div class="modal-body">
    <form role='form' name='append' novalidate
          ng-submit="append.$valid && submitFamily()">
        <!--护照号码-->
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group has-feedback has-feedback-right" show-errors>
                    <label class="control-label">{{lang.passportNumber}}</label>
                    <input type="text" class="form-control" required 
                           name="passport_number"
                           ng-blur="getFamilyProfile()"
                           ng-model-options="{debounce: 1000}"
                           placeholder="{{lang.YourPassportNumber}}" 
                           ng-model="data.passportNumber" 
                           autocomplete="off"
                           uib-tooltip="{{lang.PassportNumberHelp}}"
                           tooltip-placement="top"
                           tooltip-class="customClass"
                           tooltip-trigger="focus"
                           tooltip-append-to-body="true"
                           type-passport-number-family />

                    <span class="glyphicon glyphicon-ok form-control-feedback"
                          ng-show='append.passport_number.$valid'></span>
                    <!--
                    <i class="fa fa-check form-control-feedback" ng-show='register.username.$valid'></i>
                    -->
                </div>   
                <div role="alert" style="margin-bottom: 10px;">
                    <span class="label label-warning" ng-show="append.passport_number.$error.required">
                        {{ lang.Required}}</span>
                    <span class="label label-danger" ng-show="append.passport_number.$error.format">
                        {{ lang.PassportNumberNotQualified}}
                    </span>
                    <span class="label label-danger" ng-show="append.passport_number.$pending.isExisted">
                        {{ lang.CheckingifThisPassportNumberisAvailable}}
                    </span>
                    <span class="label label-danger" ng-show="append.passport_number.$error.isExisted">
                        {{ lang.ThisPassportNumberAlreadyAppended}}
                    </span>
                </div>
            </div>
            <div class="col-md-5 col-sm-6 col-xs-5">
                <div class="form-group">
                    <label class="control-label">{{lang.Gender}}</label>
                    <select class="form-control" required id="gender" 
                            ng-model="genderSelected"
                            ng-options="g as g.data for g in Genders| orderBy:'id' track by g.id">
                        <option value="">-- {{lang.selectGender}} --</option>
                        <!-- <option ng-repeat="p_c in pCategories| orderBy: 'id'" 
                                value="{{p_c.id}}">{{p_c.data}}</option>-->
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-9 col-xs-10">
                <div class="form-group">
                    <label class="control-label">{{lang.Nationality}}</label>
                    <script type="text/ng-template" id="customCountrySelect.html">
                        <a>
                        <!-- 注意，这里是用的match.model -->
                        <span class="flag-icon flag-icon-{{match.model.alpha_2.toLowerCase()}}"></span>
                        <span ng-bind-html="match.model.en_full | uibTypeaheadHighlight:query"></span>
                        </a>
                    </script>
                    <input required class="form-control" type="text" ng-model="countrySelected"
                           style="background-image: url(bower_components/flag-icon-css/flags/4x3/{{countrySelected.alpha_2.toLowerCase() !== undefined ? countrySelected.alpha_2.toLowerCase() : 'un'}}.svg); 
                           background-size: 20px auto; background-repeat: no-repeat;
                           background-color: #FFF; padding-left: 30px;
                           background-position: left 5px center;"
                           typeahead-loading='loadingCountries' 
                           typeahead-no-results="noResults"
                           typeahead-template-url='customCountrySelect.html'
                           uib-typeahead="country as country.en_full for country in countries | filter:$viewValue | limitTo:8"/>
                    <i ng-show="loadingCountries" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i><span class="label label-warning">{{lang.noResultFound}}</span>
                    </div>
                </div>
            </div>
        </div>        
        <div add-family-form-common-parts></div>
    </form>
    <div class="modal-footer">
        <div class="row">
            <div class="pull-left">
                <span class="label label-warning" ng-init="appendFailed = false" 
                      ng-show="appendFailed">
                    {{responseMsg}}</span>
                <span class="label label-success" ng-init="appendSuccess = false" 
                      ng-show="appendSuccess">
                    {{responseMsg}}</span>
                <span class="label label-danger" ng-init="serverFault = false"
                      ng-show="serverFault">
                    {{responseMsg}}</span>
                <span class="label label-info" ng-init="familyFound = false"
                      ng-show="familyFound">
                    {{ lang.profileFoundTips}}                                
                </span>
                <span class="label label-info" ng-init="checkingIfExists = false"
                      ng-show="checkingIfExists">
                    {{ lang.checkingIfAppended}}                                
                </span>
            </div>
        </div>
    </div>