<uib-tabset active="active" type="pills">

    <!-- 帐号密码部分（所有人员） -->
    <uib-tab heading="{{lang.accountAndPassword}}" index="0" select="setTabActive(0)">
        <h4>
            <span class="label label-info">{{lang.Username}}</span> {{user.username}}
        </h4>
        <h4><span class="label label-info">{{lang.Password}}</span> ********</h4>

        <h4><span class="label label-info">{{lang.Category}}</span> {{user.category.data}}</h4>
        <hr />

        <button class="btn btn-default" ng-click='changePassword()'>{{lang.UpdatePassword}}</button>
    </uib-tab>

    <!-- 基本资料（员工） -->
    <uib-tab heading="{{lang.BasicProfile}}" index="1" select="setTabActive(1)"
             ng-show="userType === 0">
        <!--姓名（全部人员）-->
        <h4>
            <span class="label label-info">{{lang.Fullname}}</span> {{user.profile.f_name}} {{user.profile.l_name}}
        </h4>

        <h4>
            <span class="label label-info">{{lang.IDNumber}}</span> {{user.profile.id_number}}
        </h4>

        <!--手机号码（所有人员）-->
        <h4>
            <span ng-class="user.profile.mobile === '' ? 'label label-danger' : 'label label-info'">{{lang.mobile}}</span> 
            {{user.profile.mobile!==''? user.profile.mobile: lang.notAdded}}
        </h4>

        <!--岗位和部门（员工）-->
        <h4>
            <span class="label label-info">
                {{lang.PositionDepartment}}</span>
            {{user.profile.position.data}} - {{user.profile.position.DEPARTMENT.data}}
        </h4>
        <hr />
        <button class="btn btn-default" ng-click="updateBasicProfileStaff()">{{lang.UpdateBasicProfile}}</button>
    </uib-tab>

    <!-- 基本资料（员工家属） -->
    <uib-tab heading="{{lang.BasicProfile}}" index="2" select="setTabActive(2)"
             ng-show="userType === 1">
        <!--姓名（全部人员）-->
        <h4>
            <span class="label label-info">{{lang.Fullname}}</span> {{user.profile.f_name}} {{user.profile.l_name}}
        </h4>

        <h4>
            <span class="label label-info">{{lang.IDNumber}}</span> {{user.profile.id_number}}
        </h4>

        <!--手机号码（所有人员）-->
        <h4>
            <span ng-class="user.profile.mobile === '' ? 'label label-danger' : 'label label-info'">{{lang.mobile}}</span> 
            {{user.profile.mobile!==''? user.profile.mobile: lang.notAdded}}
        </h4>
        <hr />
        <button class="btn btn-default" ng-click="updateBasicProfileStaffFamily()">{{lang.UpdateBasicProfile}}</button>
    </uib-tab>

    <!-- 基本资料（外籍学员） -->
    <uib-tab heading="{{lang.BasicProfile}}" index="3" select="setTabActive(3)"
             ng-show="userType === 5">
        <!--姓名（全部人员）-->
        <h4>
            <span class="label label-info">{{lang.Fullname}}</span> {{user.profile.f_name}} {{user.profile.l_name}}
        </h4>

        <h4>
            <span ng-class="user.profile.xingming === '' ? 'label label-danger' : 'label label-info'">
                {{lang.ChineseName}}</span>
            {{user.profile.xingming===''? lang.notAdded: user.profile.xingming}}
        </h4>

        <!--性别（外籍人员，中方人员的性别需要从身份证号读出）-->
        <h4>
            <span class="label label-info">{{lang.Gender}}</span> {{user.profile.gender.data}}
        </h4>

        <!--国籍（外籍人员）-->
        <h4>
            <span class="label label-info">{{lang.Nationality}}</span>
            <span class="flag-icon flag-icon-{{user.profile.country.alpha_2.toLowerCase()}}"></span>
            {{user.profile.country.en_simp + ', ' + user.profile.country.zh_simp}}
        </h4>

        <!--生日（外籍学员）-->
        <h4>
            <span ng-class="birthday_invalid ? 'label label-danger' : (birthday_warning ? 'label label-warning' : 'label label-info')">
                {{lang.Birthday}}</span> 
            {{birthday.format("YYYY-MM-DD")}}
        </h4>

        <!--护照号码（外籍人员）-->
        <h4>
            <span class="label label-info">{{lang.passportNumber}}</span> {{user.profile.passport_number}}</h4>

        <!-- 学号（外籍学员）-->
        <h4>
            <span ng-class="user.profile.student_id === '' ? 'label label-danger' : 'label label-info'">{{lang.studentId}}</span> 
            {{user.profile.student_id!==''? user.profile.student_id: lang.notAdded}}
        </h4>

        <!--手机号码（所有人员）-->
        <h4>
            <span ng-class="user.profile.mobile === '' ? 'label label-danger' : 'label label-info'">{{lang.mobile}}</span> 
            {{user.profile.mobile!==''? user.profile.mobile: lang.notAdded}}
        </h4>

        <!--本国电话号码（外籍学员）-->
        <h4>
            <span ng-class="user.profile.home_phone === '' ? 'label label-danger' : 'label label-info'">
                {{lang.homePhoneNumber}}</span>
            {{user.profile.home_phone===''? lang.notAdded: user.profile.home_phone}}
        </h4>

        <!--本国电话地址（外籍学员）-->
        <h4>
            <span ng-class="user.profile.home_address === '' ? 'label label-danger' : 'label label-info'">
                {{lang.homeAddress}}</span>
            {{user.profile.home_address===''? lang.notAdded: user.profile.home_address}}
        </h4>
        <hr />
        <button class="btn btn-default" ng-click="updateBasicProfileTrainee()">{{lang.UpdateBasicProfile}}</button>
    </uib-tab>

    <!-- 基本资料（学员家属） -->
    <uib-tab heading="{{lang.BasicProfile}}" index="4" select="setTabActive(4)"
             ng-show="userType === 6">
        <!--姓名（全部人员）-->
        <h4>
            <span class="label label-info">{{lang.Fullname}}</span> {{user.profile.f_name}} {{user.profile.l_name}}
        </h4>

        <!--性别（外籍人员，中方人员的性别需要从身份证号读出）-->
        <h4>
            <span class="label label-info">{{lang.Gender}}</span> {{user.profile.gender.data}}
        </h4>

        <!--国籍（外籍人员）-->
        <h4>
            <span class="label label-info">{{lang.Nationality}}</span>
            <span class="flag-icon flag-icon-{{user.profile.country.alpha_2.toLowerCase()}}"></span>
            {{user.profile.country.en_simp + ', ' + user.profile.country.zh_simp}}
        </h4>

        <!--护照及编号（外籍人员）-->
        <h4>
            <span class="label label-info">{{lang.passportNumber}}</span> {{user.profile.passport_number}}</h4>

        <!--手机号码（所有人员）-->
        <h4>
            <span ng-class="user.profile.mobile === '' ? 'label label-danger' : 'label label-info'">{{lang.mobile}}</span> 
            {{user.profile.mobile!==''? user.profile.mobile: lang.notAdded}}
        </h4>

        <hr />
        <button class="btn btn-default" ng-click="updateBasicProfileTraineeFamily()">{{lang.UpdateBasicProfile}}</button>
    </uib-tab>

    <!-- 护照及签证信息（外籍学员） -->
    <uib-tab heading="{{lang.passportVisa}}" index="5" select="setTabActive(5)"
             ng-show="userType === 5">
        <h4>
            <span ng-class="is_passport_visa_exists ? 'label label-info' : 'label label-danger'">
                {{lang.passportType}}</span>
            {{is_passport_visa_exists? user.profile.passport_visa.passport_type.data: lang.notAdded}}</h4>
        <h4>
            <span ng-class="is_passport_visa_exists ? 'label label-info' : 'label label-danger'">
                {{lang.visaType}}</span> 
            {{is_passport_visa_exists? user.profile.passport_visa.visa_type.data: lang.notAdded}}</h4>
        <h4>
            <span ng-class="is_passport_visa_exists ? 'label label-info' : 'label label-danger'">
                {{lang.visaNumber}}</span>
            {{is_passport_visa_exists? user.profile.passport_visa.visa_number: lang.notAdded}}</h4>
        <h4>
            <span ng-class="!is_passport_visa_exists||visa_expired ? 'label label-danger' : (visa_expired_soon ? 'label label-warning' : 'label label-info')">
                {{lang.visaValidDate}}</span> 
            {{!is_passport_visa_exists? lang.notAdded: (visa_expired? lang.Expired+': '+visa_valid_date.format("YYYY-MM-DD") : (visa_expired_soon? lang.soonlyExpired+': '+visa_valid_date.format("YYYY-MM-DD"): visa_valid_date.format("YYYY-MM-DD")))}}</h4>
        <h4>
            <span ng-class="!is_passport_visa_exists ? 'label label-danger' : (entrance_date_warning ? 'label label-warning' : 'label label-info')">{{lang.entranceDate}}</span>
            {{!is_passport_visa_exists? lang.notAdded: entrance_date.format("YYYY-MM-DD")}}
        </h4>
        <h4>
            <span ng-class="!is_passport_visa_exists || user.profile.passport_visa.entrance_flight === '' ? 'label label-danger' : 'label label-info'">
                {{lang.entranceFlight}}</span> 
            {{!is_passport_visa_exists|| user.profile.passport_visa.entrance_flight==='' ? lang.notAdded : user.profile.passport_visa.entrance_flight}}</h4>
        <h4>
            <span ng-class="!is_passport_visa_exists || exit_date_invalid ? 'label label-danger' : 'label label-info'">
                {{lang.exitDate}}</span> 
            {{!is_passport_visa_exists? lang.notAdded : exit_date.format("YYYY-MM-DD")}}</h4>
        <h4>
            <span ng-class="!is_passport_visa_exists || user.profile.passport_visa.exit_flight === '' ? 'label label-danger' : 'label label-info'">
                {{lang.exitFlight}}</span> 
            {{!is_passport_visa_exists|| user.profile.passport_visa.exit_flight==='' ? lang.notAdded : user.profile.passport_visa.exit_flight}}</h4>

        <hr />
        <button class="btn btn-default" ng-click="updatePassportVISATrainee()">
            {{lang.UpdatePassportVISA}}</button>
    </uib-tab>

    <!-- 护照及签证信息（学员家属） -->
    <uib-tab heading="{{lang.passportVisa}}" index="6" select="setTabActive(6)"
             ng-show="userType === 6">
        <h4>
            <span ng-class="is_passport_visa_exists ? 'label label-info' : 'label label-danger'">
                {{lang.passportType}}</span>
            {{is_passport_visa_exists? user.profile.passport_visa.passport_type.data: lang.notAdded}}</h4>
        <h4>
            <span ng-class="is_passport_visa_exists ? 'label label-info' : 'label label-danger'">
                {{lang.visaType}}</span> 
            {{is_passport_visa_exists? user.profile.passport_visa.visa_type.data: lang.notAdded}}</h4>
        <h4>
            <span ng-class="is_passport_visa_exists ? 'label label-info' : 'label label-danger'">
                {{lang.visaNumber}}</span>
            {{is_passport_visa_exists? user.profile.passport_visa.visa_number: lang.notAdded}}</h4>
        <h4>
            <span ng-class="!is_passport_visa_exists||visa_expired ? 'label label-danger' : (visa_expired_soon ? 'label label-warning' : 'label label-info')">
                {{lang.visaValidDate}}</span> 
            {{!is_passport_visa_exists? lang.notAdded: (visa_expired? lang.Expired+': '+visa_valid_date.format("YYYY-MM-DD") : (visa_expired_soon? lang.soonlyExpired+': '+visa_valid_date.format("YYYY-MM-DD"): visa_valid_date.format("YYYY-MM-DD")))}}</h4>

        <hr />
        <button class="btn btn-default" ng-click="updatePassportVISATraineeFamily()">{{lang.UpdatePassportVISA}}</button>
    </uib-tab>

    <!-- 中方工作人员家属-->
    <uib-tab heading="{{lang.Families}}" index="7" select="setTabActive(7)"
             ng-show="userType === 0">
        <h4 ng-show="!is_family_exists">
            <span class="label label-danger">{{lang.family}}</span> 
            {{lang.notAdded}}
        </h4>
        <h4 ng-show="is_family_exists" ng-repeat="family in user.profile.families">
            <span class="label label-info">{{lang.family}}</span> 
            {{family.f_name}} {{family.l_name}}
        </h4>        
        <hr />
        <button class="btn btn-default" ng-click="addStaffFamily()">
            <i class="glyphicon glyphicon-plus-sign"></i>{{lang.addFamilyMemberinCampus}}</button>
    </uib-tab>

    <!-- 外籍学员家属-->
    <uib-tab heading="{{lang.Families}}" index="8" select="setTabActive(8)"
             ng-show="userType === 5">
        <h4 ng-show="!is_family_exists">
            <span class="label label-danger">{{lang.family}}</span> 
            {{lang.notAdded}}
        </h4>
        <h4 ng-show="is_family_exists" ng-repeat="family in user.profile.families">
            <span class="label label-info">{{lang.family}}</span> 
            {{family.f_name}} {{family.l_name}}
        </h4>        
        <hr />
        <button class="btn btn-default" ng-click="addTraineeFamily()">
            <i class="glyphicon glyphicon-plus-sign"></i>{{lang.addFamilyMemberinCampus}}</button>
    </uib-tab>

    <!-- 中方员工家属对应的工作人员（员工家属）-->
    <uib-tab heading="{{lang.StaffBelongsto}}" index="9" select="setTabActive(9)"
             ng-show="userType === 1">
        <h4 ng-show="!is_toStaff_exists">
            <span class="label label-danger">{{lang.Staff}}</span> 
            {{lang.notAdded}}
        </h4>
        <h4 ng-show="is_toStaff_exists">
            <span class="label label-info">{{lang.Staff}}</span> 
            {{user.profile.staff.f_name}} {{user.profile.staff.l_name}}
        </h4>        
        <hr />
    </uib-tab>

    <!-- 外籍学员家属对应的外籍学员（外籍学员家属）-->
    <uib-tab heading="{{lang.TraineeBelongsto}}" index="10" select="setTabActive(10)"
             ng-show="userType === 6">
        <h4 ng-show="!is_toTrainee_exists">
            <span class="label label-danger">{{lang.Trainee}}</span> 
            {{lang.notAdded}}
        </h4>
        <h4 ng-show="is_toTrainee_exists">
            <span class="label label-info">{{lang.Trainee}}</span> 
            {{user.profile.trainee.f_name}} {{user.profile.trainee.l_name}}
        </h4>        
        <hr />
    </uib-tab>

    <!-- 以下全是外籍学员的了。-->
    <!--外籍学员亲属（外军学员）-->
    <uib-tab heading="{{lang.FamilyMembers}}" index="11" select="setTabActive(11)"
             ng-show="userType === 5">
        <h4 ng-show="!is_relative_exists">
            <span class="label label-danger">{{lang.familyMember}}</span> 
            {{lang.notAdded}}
        </h4>
        <h4 ng-show="is_relative_exists" ng-repeat="relative in user.profile.relatives">
            <span class="label label-info">{{lang.familyMember}}</span> 
            {{relative.relation + ' - ' + relative.f_name + ' ' + relative.l_name + ', ' + relative.mobile}}
        </h4>
        <hr />
        <button class="btn btn-warning">{{lang.UpdatePassword}}</button>
    </uib-tab>

    <!-- 身高、体重、鞋码及特长 -->
    <uib-tab heading="{{lang.physicalCondition}}" index="12" select="setTabActive(12)"
             ng-show="userType === 5">
        <h4>
            <span 
                ng-class="!is_physical_exists ? 'label label-danger' : (height_invalid ? 'label label-warning' : 'label label-info')">
                {{lang.Height}}:
            </span>
            {{!is_physical_exists? lang.notAdded: (height_invalid? user.profile.physical.height+'('+lang.invalid+')': user.profile.physical.height)}}</h4>
        <h4>
            <span ng-class="!is_physical_exists? 'label label-danger' : (weight_invalid? 'label label-warning' : 'label label-info')">
                {{lang.Weight}}:
            </span> {{!is_physical_exists?  lang.notAdded: (weight_invalid? user.profile.physical.weight+'('+lang.invalid+')': user.profile.physical.weight)}}</h4>
        <h4>
            <span ng-class="!is_physical_exists? 'label label-danger' : (shoesize_invalid? 'label label-warning' : 'label label-info')">
                {{lang.Shoesize}}:
            </span>
            {{!is_physical_exists?  lang.notAdded: (shoesize_invalid? user.profile.physical.shoesize+'('+lang.invalid+')': user.profile.physical.shoesize)}}</h4>
        <h4 ng-show='!is_physical_exists|| user.profile.physical.specialities.length === 0'>
            <span class="label label-danger">
                {{lang.Specialities}}:
            </span>
            {{lang.notAdded}}</h4>
        <h4 ng-show='is_physical_exists&& user.profile.physical.specialities.length !== 0'>
            <span class="label label-danger">
                {{lang.Specialities}}:
            </span>
            <ul><li ng-repeat='speciality in user.profile.physical.specialities'>speciality.detail</li></ul></h4>
        <hr />
        <button class="btn btn-warning">{{lang.UpdatePassword}}</button>
    </uib-tab>

    <!--外籍学员在中国的联系人（外籍学员）-->
    <uib-tab heading="{{lang.ContactPersons}}" index="13" select="setTabActive(13)"
             ng-show="userType === 5">
        <h4 ng-show="!is_contacts_exists">
            <span class="label label-danger">{{lang.contact}}</span> 
            {{lang.notAdded}}
        </h4>
        <h4 ng-show="is_contacts_exists" ng-repeat="contact in user.profile.contacts">
            <span class="label label-info">{{lang.contact}}</span> 
            {{contact.f_name + ' ' + contact.l_name + ', ' + contact.mobile + ', '}} +{{locale==='en-us'? contact.address+', '+contact.city: contact.city+', '+contact.address}}
        </h4>
        <hr />
        <button class="btn btn-warning">{{lang.UpdatePassword}}</button>
    </uib-tab>        

    <!-- 社会属性 -->
    <uib-tab heading="{{lang.socialEdu}}" index="14" select="setTabActive(14)"
             ng-show="userType === 5">
        <h4>
            <span ng-class="!is_socialedu_exists ? 'label label-danger' : 'label label-info'">
                {{lang.Marriage}}</span>
            {{!is_socialedu_exists? lang.notAdded: user.profile.socialedu.marriage.data}}</h4>
        <h4>
            <span ng-class="!is_socialedu_exists? 'label label-danger' : 'label label-info'">
                {{lang.Religion}}</span>
            {{!is_socialedu_exists? lang.notAdded: user.profile.socialedu.religion.data}}</h4>
        <h4>
            <span ng-class="!is_socialedu_exists? 'label label-danger' : 'label label-info'">
                {{lang.Education}}</span>
            {{!is_socialedu_exists? lang.notAdded: user.profile.socialedu.edu.data}}</h4>
        <h4>
            <span ng-class="!is_socialedu_exists? 'label label-danger' : 'label label-info'">
                {{lang.Major}}</span>
            {{!is_socialedu_exists? lang.notAdded: user.profile.socialedu.major}}</h4>
        <h4>
            <span ng-class="!is_socialedu_exists? 'label label-danger' : 'label label-info'">
                {{lang.College}}</span>
            {{!is_socialedu_exists? lang.notAdded: user.profile.socialedu.college}}</h4>
        <hr />
        <button class="btn btn-warning">{{lang.UpdatePassword}}</button>
    </uib-tab>

    <!--外籍学员其它国家培训记录（外军学员）-->
    <uib-tab heading="{{lang.AbroadStudies}}" index="15" select="setTabActive(15)"
             ng-show="userType === 5">
        <h4 ng-show="!is_study_abroad_exists">
            <span class="label label-danger">{{lang.abroadStudy}}</span> 
            {{lang.notAdded}}
        </h4>
        <h4 ng-show="is_study_abroad_exists" ng-repeat="abroadstudy in user.profile.studys_abroad">
            <span class="label label-info">{{lang.training}}</span> 
            {{abroadstudy.start_date + ' - ' + abroadstudy.end_date + ', ' + abroadstudy.country.en_simp + ', ' + abroadstudy.detail}}
        </h4>
        <hr />
        <button class="btn btn-warning">{{lang.UpdatePassword}}</button>
    </uib-tab>

    <!-- 职业情况 -->
    <uib-tab heading="{{lang.careerInfo}}" index="16" select="setTabActive(16)"
             ng-show="userType === 5">
        <h4>
            <span ng-class="!is_career_exists? 'label label-danger' : 'label label-info'">
                {{lang.rankService}}</span> 
            {{!is_career_exists? lang.notAdded: user.profile.career.rank.TRNEE_RANK + ' - ' + user.profile.career.rank.SERVICE.data}}</h4>
        <h4>
            <span ng-class="!is_career_exists||user.profile.career.position === '' ? 'label label-danger' : 'label label-info'">
                {{lang.Position}}</span> 
            {{!is_career_exists||user.profile.career.position===''? lang.notAdded: user.profile.career.position}}</h4>
        <h4>
            <span ng-class="!is_career_exists||user.profile.career.department === '' ? 'label label-danger' : 'label label-info'">
                {{lang.Department}}</span> 
            {{!is_career_exists||user.profile.career.department === '' ? lang.notAdded: user.profile.department}}</h4>
        <h4>
            <span ng-class="!is_career_exists? 'label label-danger' : (postion_date_invalid? 'label label-warning' : 'label label-info')">
                {{lang.positionDate}}</span> 
            {{!is_career_exists? lang.notAdded: (postion_date_invalid? position_date.format("YYYY-MM-DD")+'('+lang.invalid+')': position_date.format("YYYY-MM-DD"))}}
        </h4>
        <h4>
            <span ng-class="!is_career_exists||user.profile.career.future_position === '' ? 'label label-danger' : 'label label-info'">
                {{lang.futurePosition}}</span>
            {{!is_career_exists||user.profile.career.future_position === ''? lang.notAdded: user.profile.career.future_position}}</h4>
        <hr />
        <button class="btn btn-warning">{{lang.UpdatePassword}}</button>
    </uib-tab>

    <!--外籍学员工作履历（外军学员）-->
    <uib-tab heading="{{lang.WorkingExperiences}}" index="17" select="setTabActive(17)"
             ng-show="userType === 5">
        <h4 ng-show="!is_working_exists">
            <span class="label label-danger">{{lang.working}}</span> 
            {{lang.notAdded}}
        </h4>
        <h4 ng-show="is_working_exists" ng-repeat="working in user.profile.workings">
            <span class="label label-info">{{lang.training}}</span> 
            {{working.start_date + ' - ' + working.end_date + ', ' + working.job + ', ' + working.department + ', ' + working.detail}}
        </h4>
        <hr />
        <button class="btn btn-warning">{{lang.UpdatePassword}}</button>
    </uib-tab>

    <!--外籍学员受训情况（外军学员）-->
    <uib-tab heading="{{lang.Trainings}}" index="18" select="setTabActive(18)"
             ng-show="userType === 5">
        <h4 ng-show="!is_training_exists">
            <span class="label label-danger">{{lang.training}}</span> 
            {{lang.notAdded}}
        </h4>
        <h4 ng-show="is_training_exists" ng-repeat="training in user.profile.trainings">
            <span class="label label-info">{{lang.training}}</span> 
            {{training.start_date + ' - ' + training.end_date + ', ' + training.detail}}
        </h4>
        <hr />
        <button class="btn btn-warning">{{lang.UpdatePassword}}</button>
    </uib-tab>
</uib-tabset>