.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}
html, body {
    height: 100%;
    background-color: #f0f0f0;
    font-size: 100%;
}
.green {
    color: green;
}

/*
Angular Material DatePicker Calendar Shows Behind Angular Modal
http://stackoverflow.com/questions/36627500/angular-material-datepicker-calendar-shows-behind-angular-modal
*/
.md-datepicker-calendar-pane{
    z-index: 1151;
}

.glyphicon {
    font-size: 18px;
}
.fa-check {
    color: green;
}
.fa {
    font-size: 18px;
}

.glyphicon-ok {
    color: green;
}

div.cell {
    padding-left: 5px;
    padding-right: 5px;
}

.under-menu {
    background-color: #f4f4f4;
    margin: 60px 0 0 0px;
}

th.row-head{
    text-align: right;
}

@media (min-width: 768px){
    .left-column{
        border-right: solid #555555 1px;
    }
    .right-column{
        margin-left: 10px;
    }
    .navbar-collapse{
        height: auto !important;
        padding-left: 0 !important;
        /* 这个很重要 */
        overflow-x: hidden;
    }
    .collapse.in{
        display:block !important;
    }
    th.row-head {        
        width: 30%;
    }
}

@media (max-width: 767px){
    .left-column{
        border-bottom: solid #555555 1px;
        padding-bottom: 10px;
    }    
    .right-column{
        margin-top: 10px;
    }
    .help-block {
        display: none;
    }
    th.row-head {        
        width: 45%;
    }
}